body {
  
  margin: 0 !important;
}

#siusiak {
  background: linear-gradient(black, white);
  width: 100%;
  min-height: 100vh;
}

#container {
  font-size: 20px;
  font-family: "Lato", sans-serif;
  /* min-height: 100vh; */
  min-height: 100%;
  /* background-color: #d95333; */
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  border: 2px solid rgb(30, 49, 38);
}

#logo {
  color: rgb(192, 192, 192);
  font-size: 56px;
  font-family: "Jura", sans-serif;
  font-weight: 900;
  opacity: 0.9;
  transition: all 0.2s ease-in-out
}
#logo:hover{
  transform: scale(1.02);
  opacity: 1;
}
.nav {
  display: flex;
  justify-content: center;
  color: rgb(192, 192, 192);
  text-align: center;
  min-height: 40px;
  border: 2px solid rgb(30, 49, 38);
}
/* w ol flex działa, ale nie umiem za to użyć justify-content: space-between */
ol{
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 24px;
  height: 50px;
  line-height: 200%;
}
ol a{
  color:  rgb(192, 192, 192);
  text-decoration: none;
  display: block;
}
/* dorobic transition i hover*/
ol > li{
  display: block;
}

.content {
  width: 1000px;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 0;
  flex: 1;
}
.socials {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  position: relative;
}

.socialdivs {
  display: flex;
  width: 1000px;
}

.tw {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 155px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.tw:hover {
  background-color: #3095d3;
  transform: scale(0.8);
}
.gplus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 155px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.gplus:hover {
  background-color: #d95333;
  transform: scale(0.8);
}
.yt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 155px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.yt:hover {
  background-color: #d94348;
  transform: scale(0.8);
}
.fb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 155px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.fb:hover {
  background-color: #4668b3;
  transform: scale(0.8);
}
#footer {
  display: flex;
  justify-content: center;
  height: 40px;
  background: black;
  background: linear-gradient(to top, black, white);
  color: black;
  padding: 10px 0;
  /* z-index: 20; */
  /* position: relative; */
}
