.App {
  text-align: center;
  height: 200vh;
}

.header {
  background-color: #fff;
  min-height: 11vh;
  width: 100vw;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-around;
  color: black;
  box-shadow: 0px 10px 10px -2px rgba(0, 0, 0, 0.1)
}
.logo h1 {
  position: absolute;
  top: 10px;
  left: 30px;
  cursor: pointer;
}
.mainNav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40vw;
  /* background-color: BLUE; */
}
.mainNav_item {
  margin-top: 20px;
  /* background-color: gray; */
  cursor: pointer;
}

/* Strona główna */
.home{
  margin-top: 11vh;
  width: 100vw;
  height: 100vh;
  background-color: #ddd;
}

